@model EntityFramework_MVC.Models.NhanVien

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNv_145)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNv_145)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh_145)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh_145)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh_145)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh_145)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayVaoCoQuan_145)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayVaoCoQuan_145)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoCmnd_145)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoCmnd_145)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeSoLuong_145)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeSoLuong_145)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNvNavigation.LoaiNv_145)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdNv_145" />
        <input type="hidden" asp-for="MaNv_145" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
